<!-- // Column classes enclose row classes for page styling reasons
// ui-sref for state change, routing in modules/core/client/config/core.client.routes.js -->

<div class="col-md-12">
	<div class="row">
		<div class="col-md-3">
			<div class="row">
				<h4>
					<span style="text-align:center">Information</span>
				</h4>
				<ul class="footer-menu">
					<li><a ui-sref="about">About BNShape</a></li>
					<li><a ui-sref="team">Team</a></li>
					<li><a ui-sref="privacy-policy">Privacy Policy</a></li>
					<li><a ui-sref="terms-conditions">Terms &amp Conditions</a></li>
					<li><a ui-sref="delivery-info">Delivery Information</a></li>
				</ul>
			</div>
		</div>

		<div class="col-md-3">
			<div class="row">
				<h4>
					<span style="text-align:center">Customer Service</span>
				</h4>
				<ul class="footer-menu">
					<li><a ui-sref="contact">Contact Us</a></li>
					<li><a ui-sref="returns">Returns</a></li>
					<li><a ui-sref="not-found">Site Map</a></li>
				</ul>
			</div>
		</div>

		<div class="col-md-3">
			<div class="row">
				<h4>
					<span style="text-align:center">Extras</span>
				</h4>
				<ul class="footer-menu">
					<li><a href="brands">Brands</a></li>
					<li><a ui-sref="voucher">Gift Vouchers</a></li>
					<li><a href="/products">Specials</a></li>
				</ul>
			</div>
		</div>

		<div class="col-md-3">
			<div class="row">
				<h4>
					<span style="text-align:center">My Account</span>
				</h4>
				<ul class="footer-menu">
					<li><a ui-sref="authentication.signin">My Account</a></li>
					<li><a ui-sref="authentication.signin">Order History</a></li>
					<li><a ui-sref="authentication.signin">Wish List</a></li>
					<li><a ui-sref="authentication.signin">Newsletter</a></li>
				</ul>
			</div>
		</div>
	</div>
	<hr>
</div>

<div class="col-md-4" style="padding-top:7px">
	<div class="row">
		<span style="padding-left: 50px;">
			B.N. Shape Clothing &copy 2015
		</span>
	</div>
</div>

<div class="col-md-4 payment">
	<div class="row">
		<ul>
			<li><img src="modules/core/client/img/brand/amex.png" alt="American Express"></li>
			<li><img src="modules/core/client/img/brand/master.png" alt="Master Cart"></li>
			<li><img src="modules/core/client/img/brand/paypal.png" alt="Paypal"></li>
			<li><img src="modules/core/client/img/brand/visa.png" alt="Visa"></li>
			<li><img src="modules/core/client/img/brand/discoversmall.jpg" alt="Discover"></li>
		</ul>
	</div>
</div>

<div class="col-md-4">
	<div class="row">
	</div>
</div>
