<section ng-controller="HomeController" id="carouselImg">

  <div ng-controller="CarouselCtrl">
    <div style="height: 660px">
      <carousel interval="myInterval" no-wrap="noWrapSlides">
        <slide ng-repeat="slide in slides" active="slide.active">
          <img src="{{slide.image}}" style="margin:auto; height:660px; width:100%";>
        </slide>
      </carousel>
    </div>
  </div>


	<div class="banner">
		<div class="device">
			<div>
				<p style="color:#fff; font-size:21px;">
					<img alt="" src="http://bnshapeclothing.com/image/data/bnshapelogo.png">
						<br/>
						<br/>
						is a <strong>fitness lifestyle brand</strong> that promotes the pursuit and maintenance of a healthy, fit community while encouraging the individuals who thrive within it.</p>
						<br>
			</div>
		</div>
	</div>


</section>
