
/*
 * Product View
 */

.product-info {
    padding-top: 15px;
    /*margin-left: 25%;*/
}
 .product-info .right h1 {
    font-size: 22px;
    margin-top: 0;
    margin-bottom: 10px;
    font-weight: 300;
}

.product-info .left {
    vertical-align: top;
}

.product-info .review {
    line-height: 1;
}

.product-info .price {
    margin-top: 5px;
    margin-bottom: 0px;
    font-size: 18px;
    font-weight: 600;
}

.product-info .reward {
    margin-top: 0px;
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: 500;
}

.product-info .description {
    margin-bottom: 10px;
    line-height: 2;
    font-weight: 300;
}

.product-info .description span {
    min-width: 120px;
    display: inline-block;
}

.product-info .description h2 {
    margin-bottom: 0;
}

.product-info h2 {
    font-size: 18px;
    text-transform: uppercase;
    margin-bottom: 20px;
    overflow: hidden;
    position: relative;
}

.product-info .options {
    margin-bottom: 10px;
}

.product-info .options ul {
  list-style-type: none;
  margin-bottom: 0;
  padding: 0;
}

.product-info .custom-block {
    margin-bottom: 20px;
    padding: 30px;
    background-color: #F7F7F7;
    font-weight: 300;
}

.product-info .quantity {
    margin-bottom: 10px;
}

.product-info .details {
    margin-bottom: 10px;
}


.product-info h2::after {

    content: "";
    width: 2500px;
    height: 1px;
    background-color: #DDD;
    position: absolute;
    top: 41%;

}

/* Quantity buttons */

.product-info .quantity button {
    background: transparent none repeat scroll 0 0;
    border: 1px solid #DDD;
    padding: 5px 14px;
    color: #000;
}

.product-info .quantity input {
    padding: 7px 10px;
    text-align: center;
    border: 1px solid #DDD;
    vertical-align: top;
}

input[type="text"], input[type="password"] {
    max-width: 100%;
}

/* Cart, wishlist, compare buttons */

.product-info .details .cart,
.product-info .details .wishlist,
.product-info .details .compare {
    font-size: 13px;
    cursor: pointer;
    background-color: #888;
    margin-bottom: 5px;
/*    display: inline-block;
*/    float: left;
}

.product-info .details .cart a,
.product-info .details .wishlist a,
.product-info .details .compare a {
    color: #FFF;
    display: inline-block;
    text-transform: uppercase;
    padding: 15px 25px;
    line-height: 1;
    transition-delay: 0;
    transition-duration: 0.5s;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}

.product-info .details .cart a:hover,
.product-info .details .wishlist a:hover,
.product-info .details .compare a:hover {
    background-color: #444;
}

.product-info .details .wishlist,
.product-info .details .compare {
    margin-left: 5px;
    float: right;
}

.admin-field {
    padding: 3px;
    padding-left: 8px;
    border: solid 1px #fff;
    box-shadow: inset 1px 1px 2px 0 #707070;
    transition: box-shadow 0.3s;
}

.admin-label {
    margin-bottom: 10px;
    line-height: 2;
    font-weight: 300;
}

.admin-label button {
    background: transparent none repeat scroll 0 0;
    border: 1px solid #DDD;
    padding: 5px 14px;
    color: #000;
    line-height: 2;
}
