<section class="cart-page" ng-controller="CartController" ng-init="getItems()">
	  <div class="page-header">
    		<h2>Shopping Cart</h2>
  	  </div>
      <h1 ng-show="cart_items.length === 0">No items in cart</h1>
      <div ng-hide="cart_items.length === 0">
      	<div>
			<div class="cart-info">
			          <table class="table">
			            <thead>
			            <tr class="cart-header-row">
			              <td class="image">Image</td>
			              <td class="name">Product Name</td>
			              <td class="size">Size</td>
			              <td class="model">Model</td>
			              <td class="quantity">Quantity</td>
			              <td class="price">Unit Price</td>
			              <td class="total">Total</td>
			            </tr>
			            </thead>
			            <tbody>
			              <tr ng-repeat="item in cart_items track by $index">
				                <td class="image">
				                	<img src="http://bnshapeclothing.com/image/cache/data/website_DSC_0967-90x115.jpg" alt="Yellow Lifestyle Leggings" title="Yellow Lifestyle Leggings">
				                </td>
				                <td class="name">
				                	{{item}}
				                </td>
				                <td class="size">M</td>
				                <td class="model">YLL</td>
				                <td class="quantity">Quantity</td>
				                <td class="price">$45.00</td>
				                <td class="total">$45.00</td>
			              </tr>
			              </tbody>
			          </table>
			        </div>
			</div>
			<div class="cart-what-to-do">
				<h2>What would you like to do next?</h2>
				<p>Choose if you have a discount code or reward points you want to use or would like to estimate your delivery cost.</p>
				<table class="radio">
                   	<tbody>
                   		<tr class="highlight">
	                			<td>                    
	                				<input type="radio" style="position:static; margin-left:0" name="next" value="coupon" id="use_coupon" class="radio-but">
	                  			</td>
	                			<td><label for="use_coupon">Use Coupon Code</label></td>
              				</tr>
                            <tr class="highlight">
			                	<td>                    
			                		<input type="radio" style="position:static; margin-left:0" name="next" value="voucher" id="use_voucher" class="radio-but">
			                  	</td>
	                			<td><label for="use_voucher">Use Gift Voucher</label></td>
              				</tr>
                            <tr class="highlight">
                				<td>                    
                					<input type="radio" style="position:static; margin-left:0" name="next" value="shipping" id="shipping_estimate" class="radio-but">
                  				</td>
                				<td><label for="shipping_estimate">Estimate Shipping &amp; Taxes</label></td>
              				</tr>
              		</tbody>
              	</table>
			</div>
			<div class="cart-total">
				<table id="table total">
                    <tbody>
                      	<tr>
              				<td class="right"><b>Total:&nbsp;</b></td>
              				<td class="right">$67.00</td>
            			</tr>
                	</tbody>
                </table>
			</div>
			<div class="cart-buttons">
        		<div class="center">
	          		<a href="" class="bnshape-button">Continue Shopping</a>
		        	<a href="" class="bnshape-button">Checkout</a>
        		</div>
      		</div>
	   </div>
	   <!-- test -->
</section>