<div class="sidebar-products">
  <ul class="nav nav-sidebar">
    <!-- Categories -->
    <div class="box-heading">
      Categories
    </div>
    <div>
      <!-- Collapsible "All Items" -->
      <div class="category-heading">
        <a class="heading-text" ng-click="display_all()" href='#'>
          All Products
        </a>
      </div>
      <!-- Collapsible "Men" --> 
      <div class="category-heading">
        <a class="heading-text" data-toggle="collapse" href="#collapse1">
          Men
        </a>
      </div>
      <div id="collapse1" class="collapse">
        <!-- Men Filters -->
        <ul class="list-group">
          <li class="subcategory">
            <a class="subcategory-text" ng-click="filter_category('Men', '')" href="#">
              All Men Products
            </a>
          </li>
          <li class="subcategory">
            <a class="subcategory-text" ng-click="filter_category('Men', 'Shirts')" href="#">
              Shirts
            </a>
          </li>
          <li class="subcategory">
            <a class="subcategory-text" ng-click="filter_category('Men', 'Tank Tops')" href="#">
              Tank Tops
            </a>
          </li>
          <li class="subcategory">
            <a class="subcategory-text" ng-click="filter_category('Men', 'Hoodies')" href="#">
              Hoodies
            </a>
          </li>
          <li class="subcategory">
            <a class="subcategory-text" ng-click="filter_category('Men', 'Pants')" href="#">
              Pants
            </a>
          </li>
        </ul>
      </div>
      <!-- Collapsible "Women" -->
      <div class="category-heading">
        <a class="heading-text" data-toggle="collapse" href="#collapse2">
          Women
        </a>
      </div>
      <div id="collapse2" class="panel-collapse collapse">
        <!-- Women Filters -->
        <ul class="list-group">
          <li class="subcategory">
            <a class="subcategory-text" ng-click="filter_category('Women', '')" href="#">
              All Women Products
            </a>
          </li>
          <li class="subcategory">
            <a class="subcategory-text" ng-click="filter_category('Women', 'Shirts')" href="#">
              Shirts
            </a>
          </li>
          <li class="subcategory">
            <a class="subcategory-text" ng-click="filter_category('Women', 'Tank Tops')" href="#">
              Tank Tops
            </a>
          </li>
          <li class="subcategory">
            <a class="subcategory-text" ng-click="filter_category('Women', 'Hoodies')" href="#">
              Hoodies
            </a>
          </li>
          <li class="subcategory">
            <a class="subcategory-text" ng-click="filter_category('Women', 'Pants')" href="#">
              Pants
            </a>
          </li>
        </ul>
      </div>
      <!-- Collapsible "Kids" -->
      <div class="category-heading">
        <a class="heading-text" data-toggle="collapse" href="#collapse3">
          Kids
        </a>
      </div>
      <div id="collapse3" class="panel-collapse collapse">
        <!-- Kids Filters -->
        <ul class="list-group">
          <li class="subcategory">
            <a class="subcategory-text" ng-click="filter_category('Kids', '')" href="#">
              All Kids Products
            </a>
          </li>
          <li class="subcategory">
            <a class="subcategory-text" ng-click="filter_category('Kids', 'Shirts')" href="#">
              Shirts
            </a>
          </li>
        </ul>
      </div>
      <!-- Collapsible "Accessories" -->
      <div class="category-heading">
        <a class="heading-text" data-toggle="collapse" href="#collapse4">
          Accessories
        </a>
      </div>
      <div id="collapse4" class="panel-collapse collapse">
        <!-- Accessories Filters -->
        <ul class="list-group">
          <li class="subcategory">
            <a class="subcategory-text" ng-click="filter_category('Accessories', '')" href="#">
              All Accessories
            </a>
          </li>
          <li class="subcategory">
            <a class="subcategory-text" ng-click="filter_category('Accessories', 'Jewelry')" href="#">
              Jewelry
            </a>
          </li>
          <li class="subcategory">
            <a class="subcategory-text" ng-click="filter_category('Accessories', 'Headwear')" href="#">
              Headwear
            </a>
          </li>
          <li class="subcategory">
            <a class="subcategory-text" ng-click="filter_category('Accessories', 'Socks')" href="#">
              Socks
            </a>
          </li>
        </ul>
      </div>
    </div>
    <!-- Refine By -->
    <div class="box-heading">
      Refine By
    </div>
    <div>
      <!-- New Arrivals -->
      <div class="category-heading">
        <a class="heading-text" ng-click="filter_new_arrivals()" href="#">
          New Arrivals
        </a>
      </div>
      <!-- Best Sellers -->
      <div class="category-heading">
        <a class="heading-text" ng-click="filter_best_sellers()" href="#">
          Best Sellers
        </a>
      </div>
      <!-- Discounts -->
      <div class="category-heading">
        <a class="heading-text" ng-click="filter_discounts()" href="#">
          Discounts
        </a>
      </div>
      <!-- Collapsible Price -->
      <div class="category-heading">
        <a class="heading-text" data-toggle="collapse" href="#collapse5">
          Price
        </a>
      </div>
      <div id="collapse5" class="panel-collapse collapse">
        <ul class="list-group">
          <li class="subcategory">
            <a class="subcategory-text" ng-click="filter_price('high')" href="#">
              High to Low
            </a>
          </li>
          <li class="subcategory">
            <a class="subcategory-text" ng-click="filter_price('low')" href="#">
              Low to High
            </a>
          </li>
        </ul>
      </div>
    </div>
    <!-- Customer Reviews -->
    <div class="box-heading">
      Customer Reviews
    </div>
    <ul class="list-group">
      <!-- 4 Stars -->
      <li class="subcategory">
        <a ng-click="filter_reviews(4)" href="#">
          <button type="button" class="btn bnshape-button btn-md">
            <span class="glyphicon glyphicon-star" aria-hidden="true">
            </span>
            <span class="glyphicon glyphicon-star" aria-hidden="true">
            </span>
            <span class="glyphicon glyphicon-star" aria-hidden="true">
            </span>
            <span class="glyphicon glyphicon-star" aria-hidden="true">
            </span>
            <span class="glyphicon glyphicon-star-empty" aria-hidden="true">
            </span>
            &amp Up
          </button>
        </a>
      </li>
      <li class="subcategory">
        <!-- 3 Stars -->
        <a ng-click="filter_reviews(3)" href="#">
          <button type="button" class="btn bnshape-button btn-md">
            <span class="glyphicon glyphicon-star" aria-hidden="true">
            </span>
            <span class="glyphicon glyphicon-star" aria-hidden="true">
            </span>
            <span class="glyphicon glyphicon-star" aria-hidden="true">
            </span>
            <span class="glyphicon glyphicon-star-empty" aria-hidden="true">
            </span>
            <span class="glyphicon glyphicon-star-empty" aria-hidden="true">
            </span>
            &amp Up
          </button>
        </a>
      </li>
      <li class="subcategory">
        <!-- 2 Stars -->
        <a ng-click="filter_reviews(2)" href="#">
          <button type="button" class="btn bnshape-button btn-md">
            <span class="glyphicon glyphicon-star" aria-hidden="true">
            </span>
            <span class="glyphicon glyphicon-star" aria-hidden="true">
            </span>
            <span class="glyphicon glyphicon-star-empty" aria-hidden="true">
            </span>
            <span class="glyphicon glyphicon-star-empty" aria-hidden="true">
            </span>
            <span class="glyphicon glyphicon-star-empty" aria-hidden="true">
            </span>
            &amp Up
          </button>
        </a>
      </li>
      <li class="subcategory">
        <!-- 1 Star -->
        <a ng-click="filter_reviews(1)" href="#">
          <button type="button" class="btn bnshape-button btn-md">
            <span class="glyphicon glyphicon-star" aria-hidden="true">
            </span>
            <span class="glyphicon glyphicon-star-empty" aria-hidden="true">
            </span>
            <span class="glyphicon glyphicon-star-empty" aria-hidden="true">
            </span>
            <span class="glyphicon glyphicon-star-empty" aria-hidden="true">
            </span>
            <span class="glyphicon glyphicon-star-empty" aria-hidden="true">
            </span>
            &amp Up
          </button>
        </a>
      </li>
    </ul>
  </ul>
</div>
