<div class="col-md-3 col-sm-3 col-xs-12">
          <ul class="nav nav-sidebar">
            <!-- Categories -->
            <div class="box-heading">
              Categories
            </div>
            <div>
              <!-- Collapsible "Men" -->
              <div class="category-heading">
                <a class="heading-text" data-toggle="collapse" href="#collapse1">
                  Men
                </a>
              </div>
              <div id="collapse1" class="collapse">
                <ul class="list-group">
                  <li class="subcategory">
                    <a class="subcategory-text" href="#">
                      Shirts
                    </a>
                  </li>
                  <li class="subcategory">
                    <a class="subcategory-text" href="#">
                      Tank Tops
                    </a>
                  </li>
                  <li class="subcategory">
                    <a class="subcategory-text" href="#">
                      Hoodies
                    </a>
                  </li>
                  <li class="subcategory">
                    <a class="subcategory-text" href="#">
                      Pants
                    </a>
                  </li>
                </ul>
              </div>
              <!-- Collapsible "Women" -->
              <div class="category-heading">
                <a class="heading-text" data-toggle="collapse" href="#collapse2">
                  Women
                </a>
              </div>
              <div id="collapse2" class="panel-collapse collapse">
                <ul class="list-group">
                  <li class="subcategory">
                    <a class="subcategory-text" href="#">
                      Shirts
                    </a>
                  </li>
                  <li class="subcategory">
                    <a class="subcategory-text" href="#">
                      Tank Tops
                    </a>
                  </li>
                  <li class="subcategory">
                    <a class="subcategory-text" href="#">
                      Hoodies
                    </a>
                  </li>
                  <li class="subcategory">
                    <a class="subcategory-text" href="#">
                      Pants
                    </a>
                  </li>
                </ul>
              </div>
              <!-- Collapsible "Kids" -->
              <div class="category-heading">
                <a class="heading-text" data-toggle="collapse" href="#collapse3">
                  Kids
                </a>
              </div>
              <div id="collapse3" class="panel-collapse collapse">
                <ul class="list-group">
                  <li class="subcategory">
                    <a class="subcategory-text" href="#">
                      Shirts
                    </a>
                  </li>
                </ul>
              </div>
            </div>
            <!-- Refine By -->
            <div class="box-heading">
              Refine By
            </div>
            <div>
              <!-- New Arrivals -->
              <div class="category-heading">
                <a class="heading-text" href="#">
                  New Arrivals
                </a>
              </div>
              <!-- Best Sellers -->
              <div class="category-heading">
                <a class="heading-text" href="#">
                  Best Sellers
                </a>
              </div>
              <!-- Discounts -->
              <div class="category-heading">
                <a class="heading-text" href="#">
                  Discounts
                </a>
              </div>
              <!-- Price -->
              <div class="category-heading">
                <a class="heading-text" data-toggle="collapse" href="#collapse4">
                  Price
                </a>
              </div>
              <div id="collapse4" class="panel-collapse collapse">
                <ul class="list-group">
                  <li class="subcategory">
                    <a class="subcategory-text" href="#">
                      High to Low
                    </a>
                  </li>
                  <li class="subcategory">
                    <a class="subcategory-text" href="#">
                      Low to High
                    </a>
                  </li>
                </ul>
              </div>
            </div>
            <!-- Customer Reviews -->
            <div class="box-heading">
              Customer Reviews
            </div>
            <ul class="list-group">
              <li class="subcategory">
                <a href="#">
                  <button type="button" class="btn bnshape-button btn-md">
                    <span class="glyphicon glyphicon-star" aria-hidden="true">
                    </span>
                    <span class="glyphicon glyphicon-star" aria-hidden="true">
                    </span>
                    <span class="glyphicon glyphicon-star" aria-hidden="true">
                    </span>
                    <span class="glyphicon glyphicon-star" aria-hidden="true">
                    </span>
                    <span class="glyphicon glyphicon-star-empty" aria-hidden="true">
                    </span>
                    &amp Up
                  </button>
                </a>
              </li>
              <li class="subcategory">
                <a href="#">
                  <button type="button" class="btn bnshape-button btn-md">
                    <span class="glyphicon glyphicon-star" aria-hidden="true">
                    </span>
                    <span class="glyphicon glyphicon-star" aria-hidden="true">
                    </span>
                    <span class="glyphicon glyphicon-star" aria-hidden="true">
                    </span>
                    <span class="glyphicon glyphicon-star-empty" aria-hidden="true">
                    </span>
                    <span class="glyphicon glyphicon-star-empty" aria-hidden="true">
                    </span>
                    &amp Up
                  </button>
                </a>
              </li>
              <li class="subcategory">
                <a href="#">
                  <button type="button" class="btn bnshape-button btn-md">
                    <span class="glyphicon glyphicon-star" aria-hidden="true">
                    </span>
                    <span class="glyphicon glyphicon-star" aria-hidden="true">
                    </span>
                    <span class="glyphicon glyphicon-star-empty" aria-hidden="true">
                    </span>
                    <span class="glyphicon glyphicon-star-empty" aria-hidden="true">
                    </span>
                    <span class="glyphicon glyphicon-star-empty" aria-hidden="true">
                    </span>
                    &amp Up
                  </button>
                </a>
              </li>
              <li class="subcategory">
                <a href="#">
                  <button type="button" class="btn bnshape-button btn-md">
                    <span class="glyphicon glyphicon-star" aria-hidden="true">
                    </span>
                    <span class="glyphicon glyphicon-star-empty" aria-hidden="true">
                    </span>
                    <span class="glyphicon glyphicon-star-empty" aria-hidden="true">
                    </span>
                    <span class="glyphicon glyphicon-star-empty" aria-hidden="true">
                    </span>
                    <span class="glyphicon glyphicon-star-empty" aria-hidden="true">
                    </span>
                    &amp Up
                  </button>
                </a>
              </li>
            </ul>
          </ul>
      </div>
