<section ng-controller="ProductsController" ng-init="init_product()">
  <div class="container-fluid">
    <div class="row">
      <!--sidebar-->
      <div class="col-md-3">
        <section ng-include="'/modules/products/client/views/side-bar.client.view.html'" class="sidebar-products"></section>
      </div>
      <div class="main-view col-md-9">
        <div class="page-header">
          <div class="header-text">
            Products
          </div>
        </div>
        <div ng-repeat="item in display_products" class="product-grid">
          <div class="col-lg-4 col-md-4 col-sm-6">
            <div class="wrapper">
              <div class="thumb">
                <div class="image">
                  <a ui-sref="products.view({productId:'{{item._id}}'})">
                    <img ng-src="/modules/products/client/img/{{item.name}}.jpg" class="img-responsive product-image">
                  </a>
                </div>
              </div>
              <div class="name">
                <a class="product-text" ui-sref="products.view({productId:'{{item._id}}'})">
                  {{item.name}}
                </a>
              </div>
              <div class="price">
                <h5>
                  {{item.price}} <span class="discount">{{item.discount}}</span>
                </h5>
                <a>
                  <button type="button" class="btn bnshape-button btn-lg bnshape-button" ng-click="add_cart(item._id,item.price, item.sizes)">
                    <span class="glyphicon glyphicon-shopping-cart">
                    </span>
                    <strong>
                      ADD TO CART
                    </strong>
                  </button>
                </a>
                <div ng-show="item.sizes.length > 0">
                  <div ng-show="adding && adding_id == item._id">
                    <span class="required">*</span>
                    <b>Select Size:</b>
                    <ul ng-repeat="size in item.sizes">
                      <input name="s" type="radio" ng-model="$parent.$parent.selected_size" value="{{size}}">
                      <label for="s">{{size}}</label>
                    </ul>
                    <a ng-click="un_add()">Cancel</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
