<section ng-controller="ProductsController" ng-init="init_product()">
  <div class="container-fluid">
    <div class="row">
      <!--sidebar-->
      <section ng-include="'/modules/products/client/views/side-bar.client.view.html'"></section>
      <div class="main-view col-sm-9 col-sm-offset-3 col-md-9 col-md-offset-3">
        <div class="page-header">
          <div class="header-text">
            Products
          </div>
        </div>
        <div class="product-grid">
          <div class="col-lg-4 col-md-4 col-sm-6">
            <div class="wrapper">
              <div class="thumb">
                <div class="image">
                  <a href="#" ui-sref="products.view({productId: '562bc2f8b82bbbf8f91f72ba'})">
                    <img src="/modules/products/client/img/sample-tee.jpg" class="img-responsive">
                  </add >
                </div>
              </div>
              <div class="name">
                <a class="product-text" href="#">
                  BN SHAPE HABITS 3/4 Sleeve Henley
                </a>
              </div>
              <div class="price">
                <h5>
                  $20.00
                </h5>
                <a href="#">
                  <button type="button" class="btn bnshape-button btn-lg bnshape-button" ng-click="add_cart('562bc2f8b82bbbf8f91f72ba')">
                    <span class="glyphicon glyphicon-shopping-cart">
                    </span>
                    <strong>
                      ADD TO CART
                    </strong>
                  </button>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
