<section ng-controller="ProductsController" ng-init="init_product()">
  <div class="container-fluid">
    <div class="row">
      <!--sidebar-->
      <div class="col-md-3">
        <section ng-include="'/modules/products/client/views/side-bar.client.view.html'" class="sidebar-products"></section>
      </div>
      <div class="main-view col-md-9">
        <div class="page-header">
          <div class="header-text">
            Products
          </div>
        </div>
        <div ng-repeat="item in display_products" class="product-grid">
          <div class="col-lg-4 col-md-4 col-sm-6">
            <div class="wrapper">
              <div class="thumb">
                <div class="image">
                  <a ui-sref="products.view({productId:'{{item._id}}'})">
                    <img ng-src="/modules/products/client/img/{{item.name}}.jpg" class="img-responsive">
                  </a>
                </div>
              </div>
              <div class="name">
                <a class="product-text" ui-sref="products.view({productId:'{{item._id}}'})">
                  {{item.name}}
                </a>
              </div>
              <div class="price">
                <h5>
                  ${{item.price}}.00 {{item.discount}}
                </h5>
                <a>
                  <button type="button" class="btn bnshape-button btn-lg bnshape-button" ng-click="add_cart(item._id,item.price)">
                    <span class="glyphicon glyphicon-shopping-cart">
                    </span>
                    <strong>
                      ADD TO CART
                    </strong>
                  </button>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
