<section class="cart-page container" ng-controller="CartController" ng-init="getItems()">
	  <div class="page-header">
    		<h2>Shopping Cart</h2>
  	  </div>
  	  <div ng-show="display_items.length === 0">
      	<h1>No items in cart</h1>
      	<br />
      	<a ui-sref="products.list" class="bnshape-button">Continue Shopping</a>
      	<br />
  	  </div>
      <div ng-hide="display_items.length === 0">
      	<div>
			<div class="cart-info">
			          <table class="table">
			            <thead>
			            <tr class="cart-header-row">
			              <td class="image">Image</td>
			              <td class="name">Product Name</td>
			              <td class="size">Size</td>
			              <td class="model">Model</td>
			              <td class="quantity">Quantity</td>
			              <td class="price">Unit Price</td>
			              <td class="total">Total</td>
			              <td class="action"></td>
			            </tr>
			            </thead>
			            <tbody>
			              <tr ng-repeat="item in display_items track by $index">
				                <td class="image">
                    				<img ng-src="/modules/products/client/img/products/{{item.name}}.jpg" class="img-responsive img-cart" alt="{{item.name}}">
				                </td>
				                <td class="name">
				                	{{item.name}}
				                </td>
				                <td class="size">{{item._size_id}}</td>
				                <td class="model">{{item.code}}</td>
				                <td class="quantity">
				                	<span ng-hide="editing_index == $index">{{quantity_dict[item._id + "-" + item._size_id]}}</span>
								    <select ng-show="editing_index == $index" name="repeatSelect" id="repeatSelect" ng-model="select">
								      <option ng-repeat="n in [1,2,3,4,5,6,7,8,9,10]" value="{{n}}" ng-selected="n == quantity_dict[item._id]">{{n}}</option>
								    </select>
				                </td>
				                <td class="price">{{item.price}}<span ng-show="item.discount !== ''" class="discount">{{item.discount}}</span></td>
				                <td ng-if="item.discount === ''" class="total">${{(quantity_dict[item._id + "-" + item._size_id] * parse_price(item.price)).toFixed(2)}}</td>
				                <td ng-if="item.discount !== ''" class="total">${{(quantity_dict[item._id + "-" + item._size_id] * (parse_price(item.price)).toFixed(2) * (1+parse_discount(item.discount))).toFixed(2)}}</td>
				                <td class="action">
				                	<span class="glyphicon glyphicon-remove remove" ng-click="quick_delete_cart(item._id,quantity_dict[item._id + '-' + item._size_id],$index,item._size_id, item.discount)"></span>&nbsp;&nbsp;&nbsp;&nbsp;
				                	<span class="glyphicon glyphicon-edit edit" ng-click="start_edit($index)" ng-hide="editing_index == $index"></span>
				                	<span class="glyphicon glyphicon-ok-sign save" ng-show="editing_index == $index" ng-click="save_edit_cart(item._id, select, parse_price(item.price), item._size_id, item.discount)"></span>
				            	</td>
			              </tr>
			              </tbody>
			          </table>
			        </div>
			</div>
			<div class="cart-what-to-do">
				<h2>What would you like to do next?</h2>
				<p>Choose if you have a discount code or reward points you want to use or would like to estimate your delivery cost.</p>
				<table class="radio">
                   	<tbody>
                   		<tr class="highlight">
	                			<td>                    
	                				<input type="radio" style="position:static; margin-left:0" name="next" value="coupon" id="use_coupon" class="radio-but">
	                  			</td>
	                			<td><label for="use_coupon">Use Coupon Code</label></td>
              				</tr>
                            <tr class="highlight">
			                	<td>                    
			                		<input type="radio" style="position:static; margin-left:0" name="next" value="voucher" id="use_voucher" class="radio-but">
			                  	</td>
	                			<td><label for="use_voucher">Use Gift Voucher</label></td>
              				</tr>
                            <tr class="highlight">
                				<td>                    
                					<input type="radio" style="position:static; margin-left:0" name="next" value="shipping" id="shipping_estimate" class="radio-but">
                  				</td>
                				<td><label for="shipping_estimate">Estimate Shipping &amp; Taxes</label></td>
              				</tr>
              		</tbody>
              	</table>
			</div>
			<div class="cart-total">
				<table id="table total">
                    <tbody>
                      	<tr>
              				<td class="right"><b>Total:&nbsp;</b></td>
              				<td class="right">${{cart_total.toFixed(2)}}</td>
            			</tr>
                	</tbody>
                </table>
			</div>
			<div class="cart-buttons">
        		<div class="center">
	          		<a ui-sref="products.list" class="bnshape-button">Continue Shopping</a>
		        	<a href="/checkout/review" class="bnshape-button">Checkout</a>
        		</div>
      		</div>
	   </div>
	   <!-- test -->
</section>