<section id="aboutBNShape">
  <div class="container">
    <div class="col-md-12">
      <div class="row">
        <h2>About B.N. SHAPE</h2>
      </div>
    </div>

    <div class="col-md-12">
      <div class="row">
        <h1>The B.N. Shape Vision</h1>
        <div class="col-md-12">
          <p class="body-info">
            B.N. Shape is clothing, but it is much more. We represent a community
            of people who share a unique passion for attaining and maintaining a
            healthy lifestyle through proper nutrition and active living. Our community
            is disciplined, willing to fight the daily temptations of unhealthy living
            in order to meet our goals and maintain our well-being. We are focused,
            breaking through every roadblock and tackling every challenge toward the
            pursuit of our fitness goals and athletic dreams. We are mavericks,
            unwilling to settle for anything average and normal, because we strive
            for excellence in all that we do. We are the hardest workers, pushing
            ourselves to the extreme limit every day, because anything less is
            unacceptable. We climb mountains. We embrace what others fear. We do
            the impossible. We are professional athletes, students, bodybuilders,
            fitness models, and full-time employees. We are mothers and fathers.
            We are sons and daughters. Our attitude not only applies to fitness,
            athletics, and our bodies, but it applies to our lives. No matter the
            background, ethnicity, or job description, we are all the same. B.N Shape
            is not just clothing. It is an attitude. It is a mindset. It is a
            lifestyle. In mind, body, and soul, there is no greater feeling than to
            B.N. Shape.
          </p>
        </div>
      </div>
    </div>


    <div class="col-md-12">
      <div class="row">
        <h2>How did B.N. Shape Start?</h2>
        <h3><em>Dr. Dozie Onunkwo, Founder</em></h3>
        <div class="col-md-5">
          <div style="text-align:center;"><img alt="" src="http://bnshapeclothing.com/image/data/transformation-1024x1024.jpeg" style="max-width: 100%; height: auto; text-align:center;"></div>
          <p>Left: Me at age 19; Right: 10 years later</p>
        </div>
        <div class="col-md-7">
          <p class="body-info">
            B.N. Shape began with my own transformation. For the first 20 years of
            my life, I was overweight. I was very content with that life too. One of
            my mother’s favorite stories about my childhood is our visits to IHOP
            when I refused to eat off the kids’ menu. I was eating Pancake Platter
            at around 7 years old. McDonalds, Popeyes, Chinese Carry-Out, Pizza Hut,
            Honey Buns, you name it and I was eating it. As I grew older, I never
            thought about what my eating habits were doing to my body. I was content
            with being overweight, mostly because that was the only life I knew. I
            just figured that I’d make up for it by dressing well and smelling good
            haha…and it worked pretty well in high school.
            <br>
            <br>
            But at 20 years old, I finally got to the point where I was tired of
            having a gut. I was tired of being ashamed of my body, so I did something
            about it…NO MORE FAST FOOD. It’s amazing how that one thing changed my
            life. I also spent a summer in Boulder, CO (a very beautiful and
            health-conscious city) for a summer internship. After work, I had nothing
            to do but workout, so I worked out everyday. I began doing ab exercises
            for the first time ever. Following that internship, I came back to school
            and received so many compliments about my weight loss. That was all of the
            motivation I needed…At this point, I was no longer eating ridiculous
            amounts of fast food, but still hadn’t learned how to properly work out
            or eat to build a healthy, muscular, and lean body. Then it happened…
          </p>
        </div>
      </div>
    </div>

    <div class="col-md-12">
      <div class="row">
        <h2>How did B.N. Shape Start?</h2>
        <h3><em>Dr. Dozie Onunkwo, Founder</em></h3>
        <div class="col-md-5">
          <div style="text-align:center;"><img src="http://www.rankopedia.com/CandidatePix/29026.gif" style="max-width: 100%; height: auto; text-align:center;"></div>
        </div>
        <div class="col-md-7">
          <p class="body-info">
            I went to see the movie, 300, and I haven’t been the same since! All I
            could think was, “Damn, I need to look like Leonidas!” So I contacted my
            good friend Daniel Silva, who is also a personal trainer in Bowie, MD.
            He was kind enough to let me come workout with him (a.k.a. kill me) for
            3 weeks in Dec. 2007. With his knowledge about proper weight training
            technique and nutrition, I was given the tools to continue learning about
            different training methods and nutritional information.
            <br>
            <br>
            After about a year of intense training and improved eating habits, I was
            LOVING the results and my new fit lifestyle! I loved it so much that “I
            Love Being In Shape” became my personal slogan. But, it wasn’t until
            June 2011 that I decided to get this slogan printed on a shirt for
            personal expression. I also printed extra shirts and brought them with
            me to a bodybuilding competition I participated in. The response I
            received was overwhelming. Many other competitors and attendees not
            only loved the shirt, but wanted to know how they could get their own.
            At that moment, BN Shape Clothing was born.
            <br>
            <br>
            Since then, the BN Shape has grown exponentially! In a short time frame,
            BN Shape Clothing has established a rapidly growing community in the US
            and around the world. I am happy to share my love for a healthy, fit
            lifestyle with so many people. Thank you for becoming a part of the
            BN Shape community!
          </p>
        </div>
      </div>
    </div>

    <div class="col-md-12">
      <div class="row">
        <div style="text-align:center;"><img alt="" src="http://bnshapeclothing.com/image/data/mc_111111172-1579180535-O-1024x682.jpg" style="max-width: 100%; height: auto;"></div>
      </div>
    </div>
  </div>

</section>
