<!-- // Column classes enclose row classes for page styling reasons
// id does not have any css linked to it right now, only added for testing purposes -->
<section id="brands">
  <div class="container">
    <div class="col-md-12">
      <div class="row">
        <h2>Brands</h2>
      </div>
    </div>

    <div class="col-md-12">
      <div class="row">
        <h1 style="text-align:center"><a href="http://www.bnshapenaturals.com/"><img src="modules/core/client/img/brand/naturalslogo.png" style="max-width: 30%; height: auto;"></a></h1>
        <div class="col-md-12">
          <p style="text-align:center">
            <strong>BN Shape Naturals</strong> provides a unique blend of handmade personal care products using
            unrefined, organic, and natural ingredients that your body loves and needs, beginning
            with our <strong>Shea Melt body butter</strong>!  Our Shea Melt body butter is the most complete
            formula for moisturized, nourished and renewed skin.  The whipped butter melts into
            your skin for long-lasting moisture and is a natural source of key vitamins, minerals,
            antioxidants, and UV protection to rejuvenate and soften your skin.  It is also an
            <strong>amazing hair moisturizer</strong>!  Nutrients include vitamins A, B1, B2, B6, D, E, F,
            beta-carotene, and fatty acids.  It also has anti-aging, anti-wrinkle,
            anti-inflammatory, and pro-elasticity properties. <br><br> <a href="http://www.bnshapenaturals.com/">Shop Here!</a> <br>
          </p>
        </div>
      </div>
    </div>

    <div class="col-md-12">
      <div class="row">
        <div style="text-align:center;"><img alt="" src="/modules/core/client/img/brand/naturals1.jpg" style="max-width: 75%; height: auto;"></div>
      </div>
    </div>
  </div>

</section>
