<section id="delivery-info">
  <div class="container">
    <div class="col-md-12">
      <div class="row">
        <h2>Delivery Info</h2>
      </div>
    </div>

    <div id="content" class="col-md-12">
      <p>1. &nbsp;All orders are shipped First-Class or Priority Mail via USPS. &nbsp;Tracking information is automatically emailed upon shipment.</p>

      <p>2. &nbsp;International orders take 10-14 business days for delivery. &nbsp;Packages are only tracked until they leave the United States.</p>

      <p>3. &nbsp;<strong>Returns or exchanges are accepted within 30 days of receiving your order</strong>. &nbsp;To request a return or exchange, <a href="http://bnshapeclothing.com/index.php?route=account/return/insert">complete our return request form</a>. &nbsp;Orders within the United States will receive a return label via email. &nbsp;International orders must pay for shipment back to us.</p>

      <p>4. &nbsp;If you have any further questions, please email us at info@bnshapeclothing.com</p>
    </div>
  </div>

</section>
