// Column classes enclose row classes for page styling reasons
// id does not have any css linked to it right now, only added for testing purposes
// Form does not work. Only the skeleton was created for design purposes, submit button has no functionality
<section id="returns">
  <div class="container">
    <div class="col-md-12">
      <div class="row">
        <h2>Product Returns</h2>
        <h5>Please complete the form below to request an RMA number.</h5>
      </div>
    </div>

    <div class="col-md-12">
      <form>
        <div class="row">
          <h4>Order Information</h4>
          <div class="col-md-4">
            <br>
            <div class="class="form-inline"">
              <div class="form-group">
                <label for="exampleInputFirstName">First Name:</label>
                <input type="text" class="form-control" id="exampleInputFirstName" placeholder="">
              </div>
            </div>
            <div class="class="form-inline"">
              <div class="form-group">
                <label for="exampleInputLastName">Last Name:</label>
                <input type="text" class="form-control" id="exampleInputLastName" placeholder="">
              </div>
            </div>
            <div class="class="form-inline"">
              <div class="form-group">
                <label for="exampleInputEmail">E-Mail:</label>
                <input type="text" class="form-control" id="exampleInputEmail" placeholder="">
              </div>
            </div>
            <div class="class="form-inline"">
              <div class="form-group">
                <label for="exampleInputTelephone">Telephone:</label>
                <input type="text" class="form-control" id="exampleInputTelephone" placeholder="">
              </div>
            </div>
          </div>
          <div class="col-md-2">

          </div>
          <div class="col-md-4" style="padding-top:20px">
            <div class="class="form-inline"">
              <div class="form-group">
                <label for="exampleInputOrderId">Order ID:</label>
                <input type="text" class="form-control" id="exampleInputOrderId" placeholder="">
              </div>
            </div>
            <div class="class="form-inline"">
              <div class="form-group">
                <label for="exampleInputOrderDate">Order Date:</label>
                <input type="text" class="form-control" id="exampleInputOrderDate" placeholder="">
              </div>
            </div>
          </div>
          <div class="col-md-2">

          </div>
        </div>
        <div class="row">
          <h4>Product Information &amp Reason for Return</h4>
          <div class="col-md-4">
            <br>
            <div class="class="form-inline"">
              <div class="form-group">
                <label for="exampleInputProductName">Product Name:</label>
                <input type="text" class="form-control" id="exampleInputProductName" placeholder="">
              </div>
            </div>
            <div class="class="form-inline"">
              <div class="form-group">
                <label for="exampleInputProductCode">Product Code:</label>
                <input type="text" class="form-control" id="exampleInputProductCode" placeholder="">
              </div>
            </div>
            <div class="class="form-inline"">
              <div class="form-group">
                <label for="exampleInputQuantity">Quantity:</label>
                <input type="text" class="form-control" id="exampleInputQuantity" placeholder="">
              </div>
            </div>

            <label for="exampleInputReason">Reason For Return:</label>
            <div class="radio">
              <label>
                <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1">
                Faulty, please supply details
              </label>
            </div>
            <div class="radio">
              <label>
                <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
                Order Error
              </label>
            </div>
            <div class="radio">
              <label>
                <input type="radio" name="optionsRadios" id="optionsRadios2" value="option3">
                Other, please supply details
              </label>
            </div>
            <div class="radio">
              <label>
                <input type="radio" name="optionsRadios" id="optionsRadios2" value="option4">
                Received Wrong Item
              </label>
            </div>
            <label for="exampleInputReason">Product is Opened:</label>
            <div class="radio">
              <label>
                <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1">
                Yes
              </label>
            </div>
            <div class="radio">
              <label>
                <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1">
                No
              </label>
            </div>
          </div>
          <div class="col-md-2">

          </div>
          <div class="col-md-4">

          </div>
          <div class="col-md-2">

          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <label for="exampleInputReason">Faulty or other details:</label>
            <div class="form-group">
              <textarea class="form-control" rows="10"></textarea>
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
          </div>
        </div>
      </form>
    </div>
  </section>
