<section class="row" ng-controller="ManageAddressController">
  <div class="col-xs-offset-1 col-xs-10 col-md-offset-3 col-md-4">
    <form class="signin form-horizontal">
      <fieldset>
	  <!-- To make things easier manage addresses is not going to be attached to the rest this sprint. This page is to see all Address. #104148896.-->
	  <div>
        <div class="text-center form-group">
          <label class="address"><label>
		  <button  class="btn btn-primary">Edit Address</button>
		  </div>
		<div class="align-right">
		  <button type="submit" class="btn btn-primary">New Address</button>
        </div>
       </div>
      </fieldset>
    </form>
  </div>
</section>
