<div class="container">

<div ng-controller="AuthenticationController">
  <h3 class="col-md-12">Register Account</h3>
  <h5 class="col-md-12">If you already have an account with us, please login <a ui-sref="authentication.signin" class="here-link">here</a>.<br></br></h5> <h4 class="col-md-12">Your Personal Details<br></br></h4>
  <div class="row">
    <div class="col-md-6">
      <form name="userForm" ng-submit="signup(userForm.$valid)" class="signin" novalidate autocomplete="off">
        <fieldset>
          <div class="form-group" show-errors>
            <label for="firstName"><span class="required">*</span>First Name:</label>
            <input type="text" id="firstName" name="firstName" class="form-control" ng-model="credentials.firstName" placeholder="First Name" required>
            <div ng-messages="userForm.firstName.$error" role="alert">
              <p class="help-block error-text" ng-message="required">First name is required.</p>
            </div>
          </div>
          <div class="form-group" show-errors>
            <label for="lastName"><span class="required">*</span>Last Name:</label>
            <input type="text" id="lastName" name="lastName" class="form-control" ng-model="credentials.lastName" placeholder="Last Name" required>
            <div ng-messages="userForm.lastName.$error" role="alert">
              <p class="help-block error-text" ng-message="required">Last name is required.</p>
            </div>
          </div>
          <div class="form-group" show-errors>
            <label for="email"><span class="required">*</span>E-Mail:</label>
            <input type="email" id="email" name="email" class="form-control" ng-model="credentials.email" placeholder="Email" lowercase required>
            <div ng-messages="userForm.email.$error" role="alert">
              <p class="help-block error-text" ng-message="required">Email address is required.</p>
              <p class="help-block error-text" ng-message="email">Email address is invalid.</p>
            </div>
          </div>
          <div class="form-group" show-errors>
            <label for="firstName"><span class="required">*</span>Telephone:</label>
            <input type="text" id="telephone" name="telephone" class="form-control" ng-model="credentials.telephone" placeholder="Telephone" required>
            <div ng-messages="userForm.telephone.$error" role="alert">
              <!--<p class="help-block error-text" ng-message="required">Telephone is required.</p> -->
            </div>
          </div>
          <div class="form-group" show-errors>
            <label for="firstName">Fax:</label>
            <input type="text" id="fax" name="fax" class="form-control" ng-model="credentials.fax" placeholder="Fax" required>
            <div ng-messages="userForm.fax.$error" role="alert">
            </div>
          </div>

        <!--
        <div class="form-group" show-errors>
          <label for="username">Username</label>
          <input type="text" id="username" name="username" class="form-control" ng-model="credentials.username" placeholder="Username" lowercase required>
          <div ng-messages="userForm.username.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Username is required.</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label for="password">Password</label>
            <input type="password" id="password" name="password" class="form-control" ng-model="credentials.password" placeholder="Password" popover="{{popoverMsg}}" popover-trigger="focus" password-validator required>
          <div ng-messages="userForm.password.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Password is required.</p>
            <div ng-repeat="passwordError in passwordErrors">
              <p class="help-block error-text" ng-show="userForm.password.$error.strength">{{passwordError}}</p>
            </div>
          </div>
        </div> 
        <div class="form-group" ng-show="!userForm.password.$pristine">
          <label>Password Strength</label>
          <progressbar value="strengthProgress" type="{{strengthColor}}"><span style="color:white; white-space:nowrap;">{{strengthProgress}}%</span></progressbar>
        </div> -->
      </fieldset>
    </form>
  </div>

  <div class="col-md-6">
  <form name="userForm" ng-submit="signup(userForm.$valid)" class="signin" novalidate autocomplete="off">
  <fieldset>
      <div class="form-group" show-errors>
          <label for="company">Company:</label>
          <input type="text" id="company" name="company" class="form-control" ng-model="credentials.company" placeholder="Company" required>
          <!--<div ng-messages="userForm.company.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Last name is required.</p> -->
      </div>
      <div class="form-group" show-errors>
          <label for="companyId">Company ID:</label>
          <input type="text" id="companyId" name="companyId" class="form-control" ng-model="credentials.companyId" placeholder="Company ID" required>
          <!--<div ng-messages="userForm.company.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Last name is required.</p> -->
      </div>
      <div class="form-group" show-errors>
          <label for="address1"><span class="required">*</span>Address 1:</label>
          <input type="text" id="address1" name="address1" class="form-control" ng-model="credentials.address1" placeholder="Address 1" required>
          <div ng-messages="userForm.address1.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Address 1 is required.</p> 
          </div>
      </div>
      <div class="form-group" show-errors>
          <label for="address2">Address 2:</label>
          <input type="text" id="address2" name="address2" class="form-control" ng-model="credentials.address2" placeholder="Address 2" required>
          <!--<div ng-messages="userForm.company.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Last name is required.</p> -->
      </div>
      <div class="form-group" show-errors>
          <label for="city"><span class="required">*</span>City:</label>
          <input type="text" id="city" name="city" class="form-control" ng-model="credentials.city" placeholder="City" required>
          <div ng-messages="userForm.city.$error" role="alert">
            <p class="help-block error-text" ng-message="required">City is required.</p> 
          </div>
      </div>
      <div class="form-group" show-errors>
          <label for="postCode">Post Code:</label>
          <input type="text" id="postCode" name="postCode" class="form-control" ng-model="credentials.postCode" placeholder="Post Code" required>
          <!--<div ng-messages="userForm.company.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Last name is required.</p> -->
      </div>

      <div class="dropdown form-group" show-errors>

      <form name="countryForm">
          <label for="singleSelect"> Country: </label> &nbsp; &nbsp;
          <select name="singleSelect" ng-model="country.singleSelect">
            <option value="united-states">United States</option>
            <option value="canada">Canada</option>
            <option value="australia">Australia</option>
            <option value="antartica">Antartica</option>
            <option value="england">England</option>
            <option value="china">China</option>
      </select>
      </form>
          <!--<div ng-messages="userForm.company.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Last name is required.</p> -->
      <form name="stateForm">
          <label for="singleSelect"> Region/State: </label> &nbsp; &nbsp;
          <select name="singleSelect" ng-model="state.singleSelect">
            <option value="florida">Florida</option>
            <option value="georgia">Georgia</option>
      </select>
      </form>
      </div>
      
      
          <!--<div ng-messages="userForm.company.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Last name is required.</p> -->
      </div>
    </fieldset>
    </form>
    </div>
</div>

    <div class="divider">
    </div>

    <div class="row">
    <div class="col-md-6">
          <form name="userForm" ng-submit="signup(userForm.$valid)" class="signin" novalidate autocomplete="off">
          <fieldset>
           <h4>Your Password<br></br></h4>
            <div class="form-group" show-errors>
              <label for="password"><span class="required">*</span>Password:</label>
              <input type="text" id="password" name="password" class="form-control" ng-model="credentials.password" placeholder="Password" required>
              <div ng-messages="userForm.password.$error" role="alert">
                <p class="help-block error-text" ng-message="required">Password is required.</p>
              </div>
            </div>
            <div class="form-group" show-errors>
            <label for="passConfirm"><span class="required">*</span>Password Confirm:</label>
            <input type="text" id="passConfirm" name="passConfirm" class="form-control" ng-model="credentials.passConfirm" placeholder="Password Confirm" required>
            <div ng-messages="userForm.passConfirm.$error" role="alert">
              <p class="help-block error-text" ng-message="required">Confirmation is required.</p>
            </div>
          </div>
          </fieldset>
          </form>
        </div>
    <div class="col-md-6">
          <form name="userForm" ng-submit="signup(userForm.$valid)" class="signin" novalidate autocomplete="off">
          <fieldset>
              <h4>Newsletter</h4>
              <h5><br><strong>Subscribe:</strong>
              <span name="radioButton" style="margin-left:100px">
                <input type="radio" name="radio">Yes
                <input type="radio" name="radio">No
              </span>
              </h5>
          </fieldset>
          </form>
          </div>
    </div>
        <div class="divider">
        <h4><br></br></h4>
    </div>

    <div class="row">
      <div class="col-md-6">
        <label><input type="checkbox" value="">I have read and agree to the Private Policy.</label>
      </div>
      <div class="text-center form-group">
          <button type="submit" class="btn btn-default">Continue</button>
          <!--&nbsp; or&nbsp;-->
    </div>
       </div>
        <div class="divider">
        <h4><br></br></h4>
    </div>
</div>

</div>
