
<div class="container">

  <div ng-controller="AuthenticationController">
    <h3 class="col-md-12">Register Account</h3>
    <!--  
        Changed some text to mirror the actual website
    -->
    <h5 class="col-md-12">If you already have an account with us, please login <a ui-sref="authentication.signin" class="here-link">here</a>.<br></br></h5>
    <br><br><br>
    <!--
      Line that divides the fields/title
    -->
            <div class="divider">
         </div>
     <h4 class="col-md-12">Your Personal Details<br></br></h4>
    <form name="userForm" ng-submit="signup(userForm.$valid)" class="signin" novalidate autocomplete="off">
    <div class="row">
        <div class="col-md-6">
            <fieldset>
            <!--
                Every field that is required will have a red asterick next to it and should have an error message when nothing is filled in its place.
            -->

              <div class="form-group" show-errors>
                <label for="firstName"><span class="required">*</span>First Name:</label>
                <input type="text" id="firstName" name="firstName" class="form-control" ng-model="credentials.firstName" placeholder="First Name" required>
                <div ng-messages="userForm.firstName.$error" role="alert">
                  <p class="help-block error-text" ng-message="required">First name is required.</p>
                </div>
              </div>

              <div class="form-group" show-errors>
                <label for="lastName"><span class="required">*</span>Last Name:</label>
                <input type="text" id="lastName" name="lastName" class="form-control" ng-model="credentials.lastName" placeholder="Last Name" required>
                <div ng-messages="userForm.lastName.$error" role="alert">
                  <p class="help-block error-text" ng-message="required">Last name is required.</p>
                </div>
              </div>

              <div class="form-group" show-errors>
                <label for="email"><span class="required">*</span>E-Mail:</label>
                <input type="email" id="email" name="email" class="form-control" ng-model="credentials.email" placeholder="Email" lowercase required>
                <div ng-messages="userForm.email.$error" role="alert">
                  <p class="help-block error-text" ng-message="required">Email address is required.</p>
                  <p class="help-block error-text" ng-message="email">Email address is invalid.</p>
                </div>
              </div>
             <!--
                Added an username field
              -->
              <div class="form-group" show-errors>
                <label for="username"><span class="required">*</span>Username</label>
                <input type="text" id="username" name="username" class="form-control" ng-model="credentials.username" placeholder="Username" lowercase required>
              <div ng-messages="userForm.username.$error" role="alert">
                <p class="help-block error-text" ng-message="required">Username is required.</p>
              </div>
            </div>

          </fieldset>
        </div>

        <div class="col-md-6">
         <fieldset>
             <!--
                Added a telephone field
              -->
                  <div class="form-group" show-errors>
                  <label for="firstName"><span class="required">*</span>Telephone:</label>
                  <input type="text" id="telephone" name="telephone" class="form-control" ng-model="credentials.telephone" placeholder="Telephone" required>
                  <div ng-messages="userForm.telephone.$error" role="alert">
                <p class="help-block error-text" ng-message="required">Telephone is required.</p>
              </div>
                </div>
             <!--
                Added a fax number field
              -->
                <div class="form-group">
                  <label for="firstName">Fax:</label>
                  <input type="text" id="fax" name="fax" class="form-control" ng-model="credentials.fax" placeholder="Fax">
                  <div ng-messages="userForm.fax.$error" role="alert">
                  </div>
                </div>
             <!--
                Added a company field
              -->
            <div class="form-group">
                <label for="company">Company:</label>
                <input type="text" id="company" name="company" class="form-control" ng-model="credentials.company" placeholder="Company">
            </div>
            <!--
                Added a company id field
              -->
            <div class="form-group">
                <label for="companyId">Company ID:</label>
                <input type="text" id="companyId" name="companyId" class="form-control" ng-model="credentials.companyId" placeholder="Company ID">
            </div>
              <!--
                 The address is split into 2 fields, but only the first field is required
              -->
            <div class="form-group" show-errors>
                <label for="address1"><span class="required">*</span>Address 1:</label>
                <input type="text" id="address1" name="address1" class="form-control" ng-model="credentials.address1" placeholder="Address 1" required>
                <div ng-messages="userForm.address1.$error" role="alert">
                  <p class="help-block error-text" ng-message="required">Address is required.</p> 
                </div>
            </div>
            <div class="form-group">
                <label for="address2">Address 2:</label>
                <input type="text" id="address2" name="address2" class="form-control" ng-model="credentials.address2" placeholder="Address 2">
            </div>
            <div class="form-group" show-errors>
              <!--
                Added a city field
              -->
                <label for="city"><span class="required">*</span>City:</label>
                <input type="text" id="city" name="city" class="form-control" ng-model="credentials.city" placeholder="City" required>
                <div ng-messages="userForm.city.$error" role="alert">
                  <p class="help-block error-text" ng-message="required">City is required.</p> 
                </div>
            </div>
            <!--
                Added a postal code field
              -->
                <div class="form-group">
                    <label for="postCode">Post Code:</label>
                    <input type="text" id="postCode" name="postCode" class="form-control" ng-model="credentials.postCode" placeholder="Post Code">
                </div>
                        
              <!--
                Added a dropdown for the country and region
                Credit to IshanDemon on github
              -->
                        <div class="dropdown form-group" show-errors>
                          <label for="country"><span class="required">*</span>Country: </label> &nbsp; &nbsp;  
                          <select id="country" name ="country" ng-model="credentials.country" required> </select> </br>
                           <div ng-messages="userForm.country.$error" role="alert">
                                <p class="help-block error-text" ng-message="required">Country is required.</p>
                            </div> 
                          <label for="selectstate"><span class="required">*</span>Region/State: </label> &nbsp; &nbsp;
                          <select name ="region" id ="region" ng-model="credentials.region" required> </select>  </br> 
                            <div ng-messages="userForm.region.$error" role="alert">
                                <p class="help-block error-text" ng-message="required">Region or State is required.</p>
                            </div> 
                        </div> 

           </fieldset>
        </div>
          <div class="col-md-6">
                 <h4>Your Password</h4>
          </div>
            
          <div class="col-md-6">
          <fieldset>
              <!--
                Added subsription radio buttons
              -->
              <h4>Newsletter</h4>
              <h5><br><strong>Subscribe:</strong>
              <span name="radioButton" style="margin-left:100px">
                <input type="radio" name="radio" value="true" ng-model="credentials.subscription">Yes
                <input type="radio" name="radio" value="false" ng-model="credentials.subscription">No
              </span>
              </h5>
          </fieldset>
          </div>

          <div class="col-md-6">
             <!--
                Left the password to have the same password strength detector as the meanstack boiler plate had
              -->
              <div class="form-group" show-errors>
                <label for="password"><span class="required">*</span>Password</label>
                  <input type="password" id="password" name="password" class="form-control" ng-model="credentials.password" placeholder="Password" popover="{{popoverMsg}}" popover-trigger="focus" password-validator required>
                <div ng-messages="userForm.password.$error" role="alert">
                  <p class="help-block error-text" ng-message="required">Password is required.</p>
                  <div ng-repeat="passwordError in passwordErrors">
                    <p class="help-block error-text" ng-show="userForm.password.$error.strength">{{passwordError}}</p>
                  </div>
                </div>
              </div>

              <div class="form-group" ng-show="!userForm.password.$pristine">
                <label>Password Strength</label>
                <progressbar value="strengthProgress" type="{{strengthColor}}"><span style="color:white; white-space:nowrap;">{{strengthProgress}}%</span></progressbar>
              </div>

             <!--
                Added an agreement checkbox 
              -->
              <div class="form-group" show-errors>
                <label for="checkPolicy"><input type="checkbox" value="" name="checkPolicy" ng-model="credentials.policy" required>
                I have read and agree to the Private Policy.</label> 
                <div ng-messages="userForm.checkPolicy.$error" role="alert">
                    <p class="help-block error-text" ng-message="required">You must agree to the terms!</p>
                </div>
              </div>


              <div class="text-center form-group">
                  <button type="submit" id="register_button" class="btn btn-default">Continue</button>
              </div>
              <span class="signup-error">{{error}}</span>
          </div>
      </div>
      </div>
    </form>
  </div>
</div>

<!--
   This script is for the country and region select box. It automatically filters the region to the corresponding country when the country is selected.
-->
<script type= "text/javascript" src = "countries.js"></script>
      <script language="javascript">
         populateCountries("country", "region"); // first parameter is id of country drop-down and second parameter is id of state drop-down
</script>