.content {
  margin-top: 50px;
}
.undecorated-link:hover {
  text-decoration: none;
}
[ng\:cloak],
[ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
  display: none !important;
}
.header-profile-image {
  opacity: 0.8;
  height: 28px;
  width: 28px;
  border-radius: 50%;
  margin-right: 5px;
}
.open .header-profile-image,
a:hover .header-profile-image {
  opacity: 1;
}
.user-header-dropdown-toggle {
  padding-top: 11px !important;
  padding-bottom: 11px !important;
}
.error-text {
  display: none;
}
.has-error .help-block.error-text {
  display: block;
}
.has-error .help-inline.error-text {
  display: inline;
}

img.AngularJS-small {
  height: 35px;
  margin-top: -7px;
}

.banner {
    background: #000;
    font-family: 'Open Sans';
    font-style: italic;
    margin-top: 25px;
    padding-top: 110px;
    padding-bottom: 65px;
}

.banner .device {
    border: none;
    width: auto;
    height: auto;
    margin: 0 auto;
    padding: 0;
    text-align: center;
    font-size: 18px;
    color: #FFFFFF;
}